In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
male_filter = df[df['sex'] == 'Male']
male_filter["age"].mean()

39.43354749885268

In [23]:
total_edu = df["education"].count()
total_edu

32561

In [24]:
bachelor_only = df[df["education"] == 'Bachelors']["education"].count()
bachelor_only

5355

In [25]:
percentage_bachelors = bachelor_only / total_edu * 100
percentage_bachelors

16.44605509658794

In [24]:
higher_education = df[(df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate")]
higher_education.shape[0]

7491

In [35]:
higher_education_rich = higher_education[df["salary"] == ">50K"]
higher_education_rich_percentage = higher_education_rich.shape[0] / higher_education.shape[0] * 100
higher_education_rich_percentage

C:\Users\FAHREL\AppData\Local\Temp/ipykernel_5268/385973136.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  higher_education_rich = higher_education[df["salary"] == ">50K"]

46.535843011613935

In [36]:
higher_education_rich = higher_education[df["salary"] == ">50K"].shape[0] / higher_education.shape[0] * 100
higher_education_rich

C:\Users\FAHREL\AppData\Local\Temp/ipykernel_5268/2257345314.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  higher_education_rich = higher_education[df["salary"] == ">50K"].shape[0] / higher_education.shape[0] * 100

46.535843011613935

In [30]:
lower_education = df[~((df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate"))]
lower_education.shape[0]

25070

In [38]:
lower_education_rich = lower_education[df["salary"] == ">50K"].shape[0] / lower_education.shape[0] * 100
lower_education_rich

C:\Users\FAHREL\AppData\Local\Temp/ipykernel_5268/529165844.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  lower_education_rich = lower_education[df["salary"] == ">50K"].shape[0] / lower_education.shape[0] * 100

17.3713601914639

In [49]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [60]:
min_work_hours = df["hours-per-week"].min()
min_workers = df[(df["hours-per-week"] == min_work_hours)]
rich_min_workers = min_workers[(df["salary"] == ">50K")]
num_min_workers = rich_min_workers.shape[0] / min_workers.shape[0] * 100
num_min_workers

C:\Users\FAHREL\AppData\Local\Temp/ipykernel_5268/2755875360.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rich_min_workers = min_workers[(df["salary"] == ">50K")]

20

In [92]:
rich_person = df[df["salary"] == ">50K"]
rich_person_most_country = rich_person["native-country"].mode()[0]
# rich_person_most_country[0]
rich_person[(df["native-country"] == rich_person_most_country)].shape[0] / rich_person.shape[0] * 100
# rich_person.shape[0]

C:\Users\FAHREL\AppData\Local\Temp/ipykernel_5268/2012585275.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rich_person[(df["native-country"] == rich_person_most_country)].shape[0] / rich_person.shape[0] * 100

91.45517153424308

In [125]:
country_series = df['native-country'].value_counts()
rich_country_series = rich_person['native-country'].value_counts()
highest_earning_country = rich_country_series / country_series
highest_earning_country.idxmax()

'Iran'

In [113]:
rich_person[rich_person["native-country"] == "Iran"].shape[0]

18

In [114]:
df[df["native-country"] == "Iran"].shape[0]

43

In [95]:
india_rich_person = rich_person[df["native-country"] == 'India']
india_rich_person["occupation"].mode()[0]

C:\Users\FAHREL\AppData\Local\Temp/ipykernel_5268/1842925742.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  india_rich_person = rich_person[df["native-country"] == 'India']

'Prof-specialty'

In [98]:
higher_education = df[(df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate")]
lower_education = df[~((df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate"))]

len(higher_education.index)

7491

In [105]:
higher_education_rich = higher_education[higher_education["salary"] == ">50K"]
higher_education_rich

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K